/*======================================================*/
/*------------------- Basic Objects---------------------*/
/*======================================================*/

html{
  height: 100%;
}
body{
  font-family: sans-serif;
  color: white;
  background-color: white;
  margin-bottom: 60px;
}

h1{
  font-size: 3em;
  padding-bottom: 15px;
}

h2{
  font-size: 1.5em;
}
h3{
  font-size: 1.2em;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}

header ul{
  display: flex;
  background-color: rgb(245, 94, 97);
  justify-content: center;
  align-items: center;
  margin: 10px 10px 5px 10px;
}

header ul li{
  margin: 5px 10px 5px 10px;
}

main {
  display: flex;
  height: 86%;
}

/*============================================================*/
/*--------------------- Navigation CSS -----------------------*/
/*============================================================*/

nav{
  position: fixed;
  width: 100%;
  bottom: 0%;

}

nav ul{
  display: flex;
  background-color: rgb(245,94,97);
  justify-content: center;
  height: 50px;
}

nav ul li button{
  margin: 0px 10px 20px 10px;
  height: 100%;
  width: 100%;
  background-color: rgb(245,94,97);
  color: white;
  border-style: none;
}

nav ul li button:hover{
  margin: 0px 10px 20px 10px;
  height: 100%;
  width: 100%;
  background-color: rgb(171, 221, 144);
  color: white;
  border-style: none;
}

nav ul li button:active{
  margin: 0px 10px 20px 10px;
  height: 100%;
  width: 100%;
  background-color: rgb(121, 171, 94);
  color: white;
  border-style: none;
}

/*===============================================================*/
/*----------------------- App Container -------------------------*/
/*===============================================================*/

.appBlock {
  padding: 20px;
  margin: 10px 10px 5px 10px;
  background-color: rgba(65, 68, 63, 1);
  width: 80%;
}

.appBlock h3{
  padding-top: 10px;
}

/*===========================================================*/
/*-------------------- Playlist object-----------------------*/
/*===========================================================*/

.appList {
  display: block;
  position: relative;
  padding: 0px 0px 200px 0px;
  margin: 10px 5px 5px 10px;
  background-color: rgba(65, 68, 63, 1);
  width: 20%;
}

.appList h2{
  padding: 20px;

}

.appList ul{
  display: flex;
  flex-flow: column;
  align-content: flex-start;
}

.appList ul li{
  margin-top: 1px;
  margin-bottom: 2px;
  border-left-style: solid;
  border-left-color: rgb(245,94,97);
  border-left-width: 20px;
}

.appList ul li button{
  width: 100%;
  color: rgba(65, 68, 63, 1);
  padding: 20px;
  background-color: rgb(238,238,238);
  border-style: none;
}

.appList ul li button:hover{
  color: white;
  background-color: rgba(238,238,238,0.7);
}

.appList ul li button:active{
  color: white;
  background-color: rgba(100,100,100,1);
}

/*===========================================================*/
/*-------------------- Player Info --------------------------*/
/*===========================================================*/

.playerInfo {
  display: flex;
  flex-flow: row;
  background-color: rgba(65, 68, 63, 1);
}

.playerImages {
  margin-top: 10px;
  display: flex;
}

.playerImages img{
  margin: 10px;
}

.sideImages {
  display: flex;
  flex-flow: column;
}
/*===================================================================*/
/*-------------------- Upcoming Tracks Object -----------------------*/
/*===================================================================*/
.upcomingTracks{
  padding: 15px;
  width: 50%;
  background-color: rgba(65, 68, 63, 1);
}

.upcomingTracks h2{
  padding-right: 10px;
  padding-bottom: 10px;
}

.upcomingTracks ul{
  width: 100%;
}

.upcomingTracks ul li{
  border-left-style: solid;
  border-left-color: rgb(245,94,97);
  border-left-width: 20px;
  margin-top: 1px;
  margin-bottom: 2px;
}

.upcomingTracks ul li button{
  color: rgba(65, 68, 63, 1);
  background-color: rgb(238,238,238);
  border: none;
  width: 100%;
  padding: 10px 0 10px 20px;
}

.upcomingTracks ul li button:hover{
  color: white;
  background-color: rgba(238,238,238,0.7);
}

.upcomingTracks ul li button:active{
  color: white;
  background-color: rgba(100,100,100,1);
}

/*=============================================================*/
/*-------------------- Media Queries --------------------------*/
/*=============================================================*/

@media screen and (max-width: 1230px){
  body{
    height: auto;
  }

  main{
    height: auto;
    margin-bottom: 70px;
  }

  .upcomingTracks{
    padding-right: 40px;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .upcomingTracks ul li{
    width: 100%;
  }

  .playerInfo{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 975px){
  body{
    height: auto;
    margin-bottom: 0px;
  }
  main {
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 0px;
  }
  .appList {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 70px;
    padding: 20px;
  }

  .appList h2{
    padding: 0px 0px 10px 0px;
  }

  .appBlock {
    width: 100%;
  }
  .playerInfo {
    justify-content: left;
  }
  .upcomingTracks{
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 40px;
  }
  .upcomingTracks ul{
    width: 100%;
  }
}

@media screen and (max-width: 709px) {
  .sideImages {
    display: none;
  }

  .playerImages img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .upcomingTracks ul{
    width: 100%;
  }
}
